include ../../../../../../jade-tpl/src/mixin.jade

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#ndcbjyq_workdeck_handle', true)
      +i-text('list-alt', '办件中心') 
    +nav-item('#')
      +i-text('search', '数据查询')
    +nav-item('#')
      +i-text('dashboard', '统计汇总')