
<nav class="navbar navbar-primary">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand"> 承包经营权管理系统</a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav" role="tablist">
        <li class="nav-item active" role="presentation"><a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Library</a>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Applications</a>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>