include ../../../../../../../jade-tpl/src/mixin.jade

+nav-underline('sm')
  +nav-item('#ndcbjyq_query_right_register', true) 登记簿
  +nav-item('#ndcbjyq_query_right_contractor') 承包方
  +nav-item('#') 承包地
  +nav-item('#') 承包合同
  +nav-item('#') 登记申请书
  +nav-item('#') 权证书
  +nav-item('#') 注销登记簿
