[submodule "vendor/pukit"]
	path = vendor/pukit
	url = https://git.oschina.net/gochant/pukit.git
	branch = master
[submodule "vendor/veronica"]
	path = vendor/veronica
	url = https://git.oschina.net/gochant/veronica.git
	branch = develop
[submodule "vendor/veronica-ui"]
	path = vendor/veronica-ui
	url = https://git.oschina.net/gochant/veronica-ui.git
	branch = master