[submodule "www/assets/pukit"]
	path = www/assets/pukit
	url = https://github.com/gochant/pukit.git
[submodule "www/assets/veronica"]
	path = www/assets/veronica
	url = https://git.oschina.net/gochant/veronica.git
	branch = develop
