[submodule "www/assets/pukit"]
	path = www/assets/pukit
	url = https://git.oschina.net/gochant/pukit.git
[submodule "www/assets/veronica"]
	path = www/assets/veronica
	url = https://git.oschina.net/gochant/veronica.git
	branch = develop
[submodule "www/assets/veronica-ui"]
	path = www/assets/veronica-ui
	url = https://git.oschina.net/gochant/veronica-ui.git
