---
model: registrationBook
---

extends /ext/modal-box-layout.pug
include /mixin.pug

block heading
  +modal-heading('初始登记', '申请')

block aside
  +nav-content(data-dynamic='main')
    +nav-toggle-item(null) 
      | 1 申请书信息
      +invalid-tag('registrationApplication')
    +nav-toggle-item(null, true)
      | 2 登记信息
      +invalid-tag('registrationBook')
    +nav-toggle-item()
      | 3 家庭成员
      +invalid-tag('familyMember')
    +nav-toggle-item()
      | 4 承包地
      +invalid-tag('contractedLand')
    +nav-toggle-item()
      | 5 附加信息
      +invalid-tag('AdditionalInfo')
    +nav-toggle-item()
      | 6 附件

block content
  +tab-content.data-bind-block(data-dynamic='main')
    +tab-pane(null).application
      +form-validate-layout-h('registrationApplication')
        +editor-for-model(contextModel.registrationApplication)
        
    +tab-pane(null, true).registration
      +form-validate('registrationBook')
        fieldset
          legend 基本信息
          +form-layout-t
            +row-t
              +editor-t('OutsourcerNumber','发包方：', 'select')(required)
              +editor-t('ContractBeginDate', '承包期限：', 'checkbox', { text: '永久' })
            +row-t
              +editor-t('Outsourcers', '起止时间：', 'date')
              +editor-t('ContractPurpose', '承包用途：', 'select')
            +row-t
              +editor-for-t('ContractWay', model)
              +editor-for-t('RegisteDate', model)
        fieldset
          legend 承包方信息
          +form-layout-t
            +row-t
              +editor-t('ContractorType', '承包方类型：', 'select')
              +editor-t('Outsourcers', '承包方姓名：', 'textbox')
            +row-t
              +editor-t('FamilyNumber', '承包方编号：', 'textbox')
              +editor-t('Outsourcers', '合同编号：', 'select')
            +row-t
              +editor-t('ContractorCred', '证件类型：', 'select')
              +editor-t('ContractorNumber', '证件号码：', 'textbox')
            +row-t
              +editor-t('ContractorTel', '电话号码：', 'textbox')
              +editor-t('ContractorZip', '邮政编码：', 'textbox')
            +row-t
              +editor-t('ContractorAddress', '承包方住址：', 'textarea', null, 2)
    +tab-pane.member()
      +panel
        +panel-toolbar('sm')
          +btn-toolbar('sm')
            +btn-icon('plus', '添加')(data-action='addMember')
            +btn-icon('plus', '从调查数据添加')
            +btn-icon('edit', '编辑')
            +btn-icon('trash-o', '删除')
        +panel-body.no-padding
          +kendo-grid([
              { field: 'Name', title: '姓名'},
              { field: 'Number', title: '证件号码' },
              { field: 'GenderDisplay', title: '性别' },
              { field: 'Birth', title: '出生日期' },
              { field: 'RelDisplay', title: '与户主关系' }
            ], 'source: data.Persons')(data-auto-bind='false', data-selectable='row', style={ height: '300px' })

    +tab-pane.contracted_land() hehe4
    +tab-pane.additional() hehe5
    +tab-pane.attachment() hehe6

block bottom
  .btn-toolbar.data-bind-block
    +btn-group: +btn(data-action='prev', data-bind='css: { disabled : prevStatus }') 上一步
    +btn-group: +btn(data-action='next', data-bind='css: { disabled : nextStatus }') 下一步
    +btn-group: +btn-primary()(data-action='save') 保&nbsp;存