extends /layouts/app-layout.pug
include /mixin.pug

block title
  | 账户中心

block style
  link(href='./index.css', rel='stylesheet')

block body
  #header
  #sidebar
  #main.main
    #nav-global
    #nav-sub
    #nav-three
    #content.v-render-body

block script
  script.
    window.__appName = 'account_center'
