
mixin form-table-layout()
  table.table.table-bordered.table-hover.table-form-horizontal
    block
      

mixin t-row
  tr
    block

mixin t-col
  td
    block

mixin label(text)
  label.control-label #{text}

mixin t-editor(text, type, options)
  +
