include /mixin

+navbar('fluid').navbar-primary
  +navbar-header
    +navbar-brand 承包经营权管理系统
  +navbar-right
    +nav-navbar
      +nav-item('#', true): +i-text('home', 'Home')
      +nav-item('#'): +i-text('book', 'Library')
      +nav-item('#'): +i-text('pencil', 'Applications')
      +nav-item('#'): +i-text('cog', 'Settings')