extends /layouts/modal-box-layout

block heading
  +modal-heading('登记簿', '详情')

block aside
  +nav-content(data-dynamic='main')
    +nav-toggle-item('#', true) 基础信息
    +nav-toggle-item 权证信息
    +nav-toggle-item 流转信息
    +nav-toggle-item 抵押信息
    +nav-toggle-item 变更信息
    +nav-toggle-item 附件

block content
  +tab-content(data-dynamic='main')
    +tab-pane(null, true)   
      +nav-heavy(data-dynamic='t11')
        +nav-toggle-item('#', true) 基本信息
        +nav-toggle-item 家庭成员
        +nav-toggle-item 地块信息
        +nav-toggle-item 地块示意图
      +tab-content(data-dynamic='t11')
        +tab-pane(null, true)
          +form-layout-t.wider.static
            +row-t
              +textblock-t('发包方全称：', 'OutsourcerName', 2)
            +row-t
              +textblock-t('承包方代表姓名：', 'ContractorName', 2)
            +row-t
              +textblock-t('证件号码：', 'OutsourcerNumber', 2)
            +row-t
              +textblock-t('承包方式：', 'StrContractWay', 2)
            +row-t
              +textblock-t('承包方类型：', 'StrContractorType', 2)
            +row-t
              +textblock-t('承包方住址：', 'ContractorAddress', 2)
            +row-t
              +textblock-t('邮政编码：', '')
              +textblock-t('联系电话：', '')
            +row-t
              +textblock-t('合同编号：', 'DisplayAgreementNumber', 2)
            +row-t
              +textblock-t('权证编号：', 'WarrantNumber', 2)
            +row-t
              +textblock-t('承包期限：', 'ContractDeadline', 2)

  

block action
  +btn-group: +btn 关闭