---
model: registrationBook
---

extends /layouts/modal-box-layout.pug
include /mixin.pug

block heading
  +modal-heading('初始登记', '申请2')

block aside
  +nav-form-for([{
    text: '申请书信息',
    name: 'registrationApplication',
    active: true
  },{
    text: '登记信息',
    name: 'registrationBook',
  },{
    text: '家庭成员',
    name: 'familyMember',
  },{
    text: '承包地',
    name: 'contractedLand',
  },{
    text: '附加信息',
    name: 'AdditionalInfo',
  },{
    text: '附件',
    name: 'heheda',
  }])(data-dynamic-tab='main')

block content
  +tab-content.data-bind-block(data-dynamic-tab='main')

    +tab-pane(null).application
      +form-validate-layout-h('registrationApplication')
        +editor-for-model(contextModel.registrationApplication)
        
    +tab-pane(null, true).registration
      include ./registrationBook.pug

    +tab-pane.member()
      include ./member.pug

    +tab-pane.contracted_land() hehe4
    +tab-pane.additional() hehe5
    +tab-pane.attachment() hehe6

block bottom
  .btn-toolbar.data-bind-block
    +btn-group: +btn(data-action='prev', data-bind='css: { disabled : prevStatus }') 上一步
    +btn-group: +btn(data-action='next', data-bind='css: { disabled : nextStatus }') 下一步
    +btn-group: +btn-primary()(data-action='save') 保&nbsp;存