---
model: familyMember
---
extends /ext/modal-layout.pug
include /mixin.pug

block title
  | #{model.displayName}

block body
  .invalid-tag(data-for='tessss') 
  +form-layout-h.data-validate-form(data-form-name='tessss')
    +editor-for-model(model)

block footer
  +btn-icon.btn-primary(data-action='save') 保&nbsp; 存