---
model: familyMember
---
extends /ext/modal-layout.pug
include /mixin.pug

block title
  | #{model.displayName}

block body
  +form-layout-h.data-validate-form(data-form-name='tes')
    +editor-for-model(model)

block footer
  +btn-icon.btn-primary(data-action='save') 保&nbsp; 存