extends ../../../../../tools/pug-tpl/query-list-layout.jade

block actions
  +btn-refresh
  +btn-search('高级查询', 'searchAdvanced')
  +btn-detail
  +btn-icon('dashboard', '汇总登记簿')
  +btn-export-dropdown
    +dropdown-menu(data-action='export')
      +menu-item('#') 登记簿
      +menu-item('#') 有效登记簿清册
      +menu-item('#') 确权颁证信息表
  +btn-more-dropdown
    +dropdown-menu(data-action='more')
      +menu-item('#') 历史回溯
      +menu-item('#') 权证信息
      +menu-item('#') 权源流转合同
      +menu-item('#') 附加信息

block inputs
  +searchbox-sm('请输入承包方名称查询', 'search')

block body
  +kendo-grid([
    { field: 'WarrantNumber', title: '权属信息'},
    { field: 'ContractorNumber', title: '证件号码' },
    { field: 'ContractorName', title: '承包方' },
    { field: 'OutsourcerName', title: '发包方' },
    { field: 'RegisteDate', title: '登记日期' },
    { field: 'WorkStatus', title: '状态' }
  ], 'source: source')(data-pageable='true', data-auto-bind='false', data-selectable='row', style={ height: '100%' })

  script#modal-template(type='text/template')
    .modal.modal-classy.biggest
      .modal-dialog
        .modal-content.fn-wnd
            