include /mixin

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#account_manage_user', true)
      +i-nav-text('home', '账户管理')
    +nav-item('#', true)
      +i-nav-text('calculator', '接入管理')
    +nav-item('#')
      +i-nav-text('pencil', '模块三')