include /mixin

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#account_manage_user', true)
      +i-nav-text('user', '账户管理')
    +nav-item('#', true)
      +i-nav-text('plug', '接入管理')
    +nav-item('#')
      +i-nav-text('pencil', '模块三')