include ../../../../../jade-tpl/src/mixin.jade

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#')
      +i-text('home', '办件中心2')
    +nav-item('#', true)
      +i-text('calculator', '统计分析')
    +nav-item('#')
      +i-text('pencil', '数据管理')