
@import "../../assets/bootstrap/3.3.6/css/variables.less";
@import "../../assets/bootstrap/3.3.6/less/mixins";

.navbar-primary {
    background-color: darken(@brand-primary, 10%);
    border: 0;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);*/
    margin-bottom: 0;

    .navbar-brand {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: transparent;
        }
    }

    .navbar-nav,
    .navbar-text,
    .nav {
        color: #fff;

        > li > a {
            color: #fff;

            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }

    .nav .open > a {
        background-color: transparent;
    }
}

body {
    font-family: Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.table-form-horizontal {
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
    }
}


@sidebar-width: 130px;
@sidebar-bg-color: #252830;
@panel-body-top: 43px;

.desktop {
    > .navbar {
    }

    > .aside,
    .desktop-sidebar {
        position: absolute;
        left: 0;
        bottom: 0;
        top: @navbar-height;
        width: @sidebar-width;
        background: @sidebar-bg-color;
        padding-top: 40px;
    }

    > .main,
    .desktop-main {
        position: absolute;
        top: @navbar-height;
        right: 0;
        bottom: 0;
        left: @sidebar-width;
    }
}

.sidebar-inverse {

    .nav > li {
        > a {
            color: #b8c7ce;
            border-left: 4px solid transparent;

            &:hover,
            &:focus {
                color: #fff;
                background: #434857;
            }

            > .menu-icon {
                border-color: transparent;
            }
        }
        /*&:hover > a {
            color: #fff;
            background: #434857;
        }*/
        &.active > a {
            color: #fff;
            border-left-color: @component-active-bg;
            background-color: #434857;

            &:hover {
                color: #fff;
                background-color: #434857;
            }
        }
    }
}

@navbar-sm-height: 40px;
@navbar-sm-padding-vertical: 10px;

.navbar-sm {
    min-height: @navbar-sm-height;
    border: 0;

    .navbar-nav .nav-link {
        padding-top: @navbar-sm-padding-vertical;
        padding-bottom: @navbar-sm-padding-vertical;
    }

    .nav-styled .nav-link {
        padding-top: 10px;
        padding-bottom: 9px;
    }
}

@navbar-underline-border-width: 1px;

.navbar-underline {
    border-bottom: @navbar-underline-border-width solid @brand-primary;

    &.navbar-sm {
        /*min-height: @navbar-sm-height - @navbar-underline-border-width;*/
    }
}

.nav-styled {
    position: relative;
    z-index: 1;
    padding-left: .5em;



    > li > a:hover,
    > li > a:active,
    > li > a:focus {
        background: transparent;
    }

    > li > a:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border: 1px solid @brand-primary;
        border-bottom: none;
        border-radius: .5em .5em 0 0;
        background: lighten(@brand-primary, 20%);
        transform: scale(1.2, 1.3) perspective(.5em) rotateX(5deg);
        transform-origin: bottom left;
    }

    .active > a,
    .active > a:focus,
    .active > a:hover {
        z-index: 2;

        &:before {
            background-color: white;
            margin-bottom: -@navbar-underline-border-width;
        }
    }
}



.nav-primary {
    background: lighten(@brand-primary, 10%);

    .nav-link {
        color: @component-active-color;
        padding-left: @padding-large-horizontal * 2;
        padding-right: @padding-large-horizontal * 2;

        &:hover,
        &:active,
        &:focus {
            background: transparent;
        }
    }
    /*> .active > a,
    > .active > a:focus,
    > .active > a:hover {
        background: @brand-primary;
    }*/
}

.block-abs(@padding) {
    position: absolute;
    left: @padding;
    right: @padding;
    bottom: @padding;
    margin: 0;
}

.block-abs-1 {
    top: 40px;
    .block-abs(0);
}

.block-abs-2 {
    top: 76px;
    .block-abs(0);
}

.block-abs-3 {
    top: 108px;
    .block-abs(0);
}

.block-abs-body {
    position: absolute;
    .block-abs(0);
    top: @panel-body-top;
    overflow: auto;
}


.section {
    position: relative;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

    &.red {
        border-top: 2px solid #DB2828;
    }
}

.ribbon-label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    position: relative;
    margin: 0;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0,0,0,.15);
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;

    &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        background-color: transparent !important;
        border-style: solid;
        border-width: 0 1.2em 1.2em 0;
        border-color: transparent;
        border-right-color: inherit;
        width: 0;
        height: 0;
    }
}

.section-header {
    padding-bottom: ((@line-height-computed / 2) - 1);
    margin-bottom: @line-height-computed;
    border-bottom: 2px solid @page-header-border-color;
}

.nav-sm {
    > li > a {
        padding: @padding-small-vertical @padding-small-horizontal * 2;
    }
}

@nav-underline-bg: @label-primary-bg;

.nav-underline {
    .nav-link {
        position: relative;

        &,
        &:hover,
        &:focus {
            background-color: transparent;
            color: inherit;
        }
    }


    .nav-item {
        &:before {
            content: "";
            width: 2px;
            position: absolute;
            right: -2px;
            bottom: 6px;
            top: 6px;
            background: #eee;
        }

        &:last-child:before {
            width: 0;
        }

        &.active {
            :after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -3px;
                width: 0;
                height: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-bottom: 3px solid @nav-underline-bg;
            }

            .nav-link {
                background-color: transparent;
                color: inherit;
            }
        }
    }

    border-bottom: 2px solid @nav-underline-bg;
}

.bg-normal {
    background-color: @well-bg;
}

.panel > .panel-toolbar-sm {
    padding: @padding-small-vertical @padding-small-horizontal;
}

.panel > .panel-toolbar-xs {
    padding: @padding-xs-vertical @padding-xs-horizontal;
}

.input-md-width {
    width: 210px;
}

.panel-body {
    > .k-widget,
    > .k-block {
        border-width: 0;
    }
}
/*.k-widget, .k-block, .k-inline-block, .k-draghandle {
    border-width: 0;
}*/
.k-pager-wrap {
    font-size: 12px;
}

.btn-toolbar-sm {
    .btn {
        .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
    }
}

.form-horizontal {
    max-width: 600px;
}

textarea {
    min-height: 8em;
}

.k-autocomplete,
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-colorpicker,
.k-numerictextbox,
.k-dropdown, .k-selectbox,
.k-textbox, .k-toolbar .k-split-button {
    width: 100%;
}

.k-window-maximized {
    &.k-window {
        padding-top: 0;
    }

    .k-window-titlebar {
        padding: 0;
        min-height: 0;
        height: 0;
    }
}

.tab-content {
    border: 0;
    padding: 0;
}

.box-bottom {
    .btn-primary {
        min-width: 100px;
    }
}

.box-body {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    background: #eae8e9;

    > .box-wrapper {
        padding: 0;
        height: 100%;
        overflow: auto;
        background: #f3f3f3;
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        overflow: hidden;

        > .box-aside {
            width: 180px;
            height: 100%;
            float: left;
        }

        > .box-content {
            background: white;
            margin-left: 180px;
            padding: 20px 10px;
            height: 100%;
            overflow: auto;

            .nav-heavy {
                position: absolute;
                top: -42px;
                margin-left: 50px;
            }
        }
    }
}

.btn {
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
}

.navbar-static-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}


.nav-custom(@color, @bg, @hoverColor, @hoverBg, @activeColor, @activeBg) {

    .nav-link {
        color: @color;
        background-color: @bg;

        &:hover,
        &:focus {
            color: @hoverColor;
            background-color: @hoverBg;
        }
    }

    .nav-item.active .nav-link {

        &,
        &:hover,
        &:focus {
            color: @activeColor;
            background: @activeBg;
        }
    }
}

.nav-heavy {
    font-size: 16px;
    font-weight: 600;
    font-family: 'SimHei', sans-serif;

    &.nav-pills .nav-link {
        border-radius: 0;
    }

    .nav-custom(#a6a6a6, transparent, #8d8d8d, transparent, @component-active-bg, white);

    .nav-item {
        margin-right: 20px;
    }
}

.nav-content {
    padding-top: 40px;
    .nav-custom(#a6a6a6, inherit, #000, transparent, #000, white);

    .nav-link {
        padding-left: 40px;
    }
}

.full {
    width: 100%;
    height: 100%;
}

.fixed-full(@len: 0) {
    position: fixed;
    top: @len;
    right: @len;
    bottom: @len;
    left: @len;
}

.absolute-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-classy.biggest {
    .fixed-full(10px);

    .modal-dialog {
        border: 1px solid blue;
    }
}

.modal-classy.fullscreen {
    .fixed-full(0);
}

.modal-classy {
    overflow: hidden;

    .navbar-static-top {
        z-index: auto;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .modal-dialog {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modal-content {
        border-radius: 0;
        box-shadow: none;
        .absolute-full();

        .close {
            font-size: 30px;
            text-shadow: none;
            color: white;
            opacity: .9;
            font-weight: normal;
            line-height: 50px;
        }

        .modal-body {
            position: absolute;
            top: 50px;
            bottom: 0;
            width: 100%;
            overflow: visible;
            padding: 0;
            background: #fff;

            > iframe {
                border: 0;
                .absolute-full();
                .full();
            }
        }
    }
}

.table-form-horizontal.wider {
    > tbody > tr > td {
        padding-left: 150px;
    }

    td .control-label {
        width: 140px;
        margin-left: -150px;
    }
}

.table-form-horizontal.static {
    &.table-hover > tbody > tr:hover {
        background-color: inherit;
    }

    td .control-label {
        padding: 6px 0;
        color: #999;
        text-align: right;
    }
}


.panel.panel-xs {
    .panel-heading,
    .panel-body,
    .panel-footer {
        padding: 4px;
    }
}

.dropdown-menu {
    > .panel {
        border: 0;
    }
}

.dropdown.mega {
    .dropdown-menu {
        margin-top: -1px;
    }
}



// ¼¶ÁªÑ¡ÔñÆ÷
.nested-selector {
    width: 450px;

    .panel-body {

        ul {
            margin: 10px 0;

            > li.active > a {
                background-color: lighten(@component-active-bg, 10%);
                color: @component-active-color;
            }
        }
    }

    &.panel .panel-heading {
        padding-bottom: 0;
    }
}

.table-form-horizontal td .control-label {
    width: 100px;
    margin-left: -110px;
}

.table-form-horizontal > tbody > tr > td {
    padding-left: 110px;
    padding-right: 30px;
}

.table-form-horizontal:not(.table-bordered) {
    > tbody > tr > td {
        border-top: none;
    }
}

.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
    height: 2em;
    line-height: 2em;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
    line-height: 2em;
}

legend {
    font-size: 1.1em;
    padding: .5em;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.k-dropdown-wrap.k-state-default.k-state-active,
.k-picker-wrap.k-state-default.k-state-active {
    background-color: #385afc;
}

label {
    font-weight: normal;
}

label.required:before {
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: middle;
    padding-right: 5px;
    font-weight: bold;
}

.checkbox input[type="checkbox"] {
    margin-top: 5px;
}

.k-invalid-msg {
    font-size: 18px;
    color: #cf4c35;
    float: right;
    line-height: @input-height-base;
    margin-right: -30px;
}

.k-dropdown .k-state-default.k-state-active .k-input,
.k-state-selected .k-progress-status {
    /*color: inherit;*/
}

.form-control-container {
    padding-right: 40px;

    .k-invalid-msg {
        position: absolute;
        right: 15px;
        top: 0;
        margin-right: 0;
    }
}


// animate

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
}

.invalid-tag {
    position: absolute;
    right: 10px;
    background: #cf4c35;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    opacity: 0;
}
