include /mixin

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#')
      +i-nav-text('home', '模块一')
    +nav-item('#', true)
      +i-nav-text('calculator', '模块二')
    +nav-item('#')
      +i-nav-text('pencil', '模块三')