extends layout.jade
include ../../../jade-tpl/src/mixin.jade

block title
  | 土地承包管理信息系统2

block body
  #header
  #sidebar
  #main.main
    #nav-global
    #nav-sub
    #nav-three
    #content.v-render-body

block script
  script(src='../../assets/require.js', data-main='../entries/ndcbjyq')
