extends layout.pug
include /mixin.pug

block title
  | 土地承包管理信息系统

block body
  #header
  #sidebar
  #main.main
    #nav-global
    #nav-sub
    #nav-three
    #content.v-render-body
  #glb_loading(style={display: 'none'}) 页面加载中

block script
  //- 全屏对话框
  script#tpl-modal-full(type='type/template')
    .modal.modal-classy.fullscreen.fade
      .modal-dialog
        .modal-content.fn-wnd
  //- 普通对话框
  script#tpl-modal(type='type/template')
    .modal.fade
      .modal-dialog
        .modal-content.fn-wnd

  script(src='../../assets/require.js', data-main='../entries/ndcbjyq')