include ../src/mixin.jade

doctype html
html
  head
    block title
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    link(href='../assets/tinyui/1.0.0/css/bootstrap.css', rel='stylesheet')
    link(href='../assets/font-awesome/4.5.0/css/font-awesome.css', rel='stylesheet')
    link(href='../assets/tinyui/1.0.0/css/tiny.css', rel='stylesheet')
    link(href='../assets/kendo/styles/kendo.common-office365.min.css', rel='stylesheet')
    link(href='../assets/kendo/styles/kendo.office365.min.css', rel='stylesheet')
    link(href='fixed.css', rel='stylesheet')
  body
    +nav('nav-tabs')
      +nav_item('#home') Home
      +nav_item('#profile') Profile
      +nav_item('#settings')
        | Settings
    .panel
      +button('download', '下载22')
    #grid
      +kendo-grid(
        "[{ 'field': 'ProductName', 'width': 270 }, { 'field': 'UnitPrice' }]",
         'source: products'
         )(style='height: 200px')

    +form-layout-t(style='margin: 20px auto;width:800px;')
      +row-t
        +editor-t('组合框', 'name22', 'combobox')(required)
        +editor-t('复选框', 'name2', 'checkbox')(required)
      +row-t
        +editor-t('文本框', 'text')
        +editor-t('复选框列表', 'name223', 'checkboxlist', [
          { name: '橘子', value: 'Orange' },
          { name: '苹果', value: 'Apple'}])(required)
      +row-t
        +editor-t('')

    script(src='../assets/jquery/1.11.3/jquery.js')
    script(src='../assets/kendo/js/kendo.web.min.js')
    script(src='scripts/grid.js')
