
<div class="panel panel-default block-abs-1">
  <div class="panel-heading">
    <h3 class="panel-title">请从下面选择你需要的申请表填写2</h3>
  </div>
  <div class="panel-body block-abs-body">
    <div class="section-header">登记业务</div>
    <ul class="list-inline">
      <li>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
      </li>
      <li>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
      </li>
      <li>
        <div class="btn btn-default quick-access"><i class="fa fa-4x fa-bar-chart-o"></i>
          <h5>初始登记</h5>
        </div>
      </li>
    </ul>
  </div>
</div>