include ../../../../../../../jade-tpl/src/mixin.jade

mixin quick-access
  .btn.btn-default.quick-access
    i.fa.fa-4x.fa-bar-chart-o
    h5 初始登记

+panel-t('请从下面选择你需要的申请表填写2').block-abs-2
  +panel-body.block-abs-body
    .section-header 登记业务
    ul.list-inline
      li
        +quick-access
      li
        +quick-access
        +quick-access
        +quick-access
        +quick-access
        +quick-access
      li
        +quick-access
