//- include ../../../../../../../jade-tpl/src/mixin.jade

mixin quick-access(action, text)
  .btn.btn-default.quick-access(data-action=action)&attributes(attributes)
    i.fa.fa-4x.fa-bar-chart-o
    h5 #{text}

+panel-t('请从下面选择你需要的申请表填写2').block-abs-2
  +panel-body.block-abs-body
    .section-header 登记业务
    ul.list-inline
      li
        +quick-access('initialRegistration', '初始登记')
      li
        +quick-access
        +quick-access
        +quick-access
        +quick-access
        +quick-access
      li
        +quick-access

script#modal-template(type='text/template')
  .modal.modal-classy.fullscreen.fade
    .modal-dialog
      .modal-content.fn-wnd
