include ../../../../../../../jade-tpl/src/mixin.jade

+nav-primary
  +nav-item('#ndcbjyq_query_right_register', true)(data-group='ndcbjyq_query_right')
    | 权属信息
  +nav-item('#ndcbjyq_query_circulation_contract')(data-group='ndcbjyq_query_circulation')
    | 流转信息
  +nav-item('#') 抵押信息
  +nav-item('#') 档案信息