
+panel.full.flexbox.abs
  .panel-heading
    block heading
  +panel-toolbar('sm')
    +btn-toolbar('sm').pull-left
      block actions
    +right
      block inputs
  +panel-body.no-padding.grow
    block body
  +panel-footer.panel-footer-sm
    block footer