//- tabs

mixin tabs
  +nav('nav-tabs')

mixin tab-item(href, active)
  +nav-item(href, active, true)

mixin tab-content
  .tab-content&attributes(attributes)
    block

mixin tab-pane(id, active)
  - var cls = active === true ? 'in active' : undefined
  .tab-pane.fade(role='tabpanel', id=id, class=cls)&attributes(attributes)
    block