
mixin icon(type)
  i.fa.fa-fw(class='fa-' + type)

mixin button(style, size)
  - var styleCls = style ? 'btn-' + style : 'btn-default'
  - var sizeCls = size ? 'btn-' + size : null
  a.btn(class=[styleCls, sizeCls])&attributes(attributes)
    block

mixin icon-button(icon, text, style, size)
  +button(style, size)
    +icon(icon)
    | &nbsp;
    | #{text}
    block
