mixin btn(style, size)
  - var styleCls = style ? 'btn-' + style : 'btn-default'
  - var sizeCls = size ? 'btn-' + size : null
  a.btn(class=[styleCls, sizeCls])&attributes(attributes)
    block

mixin btn-icon(icon, text, style, size)
  +btn(style, size)
    +icon(icon)
    | #{text}
    block

mixin btn-refresh
  +btn-icon('refresh', 'Ë¢ÐÂ')

mixin btn-search-icon
  +btn-icon('search')