//- input

mixin input-group-btn(placeholder)
  -
  .input-group&attributes(attributes)
    +textbox()(placeholder=placeholder)
    .input-group-btn
      block

mixin searchbox(placeholder, action)
  +input-group-btn(placeholder)&attributes(attributes)
    +btn-search-icon()(data-action=action)

mixin searchbox-sm(placeholder, action)
  +searchbox(placeholder, action).input-group-sm.input-md-width&attributes(attributes)
    block

//- mixin inputest
//-   +input-group-btn
//-   +searchbox
//-   +searchbox-sm