//- panel
mixin panel(type,title)
  - var cls = 'panel-' + type
    .panel(class=cls)
      .panel-heading
        h3.panel-title= title
      .panel-body
        block

mixin panel-default(title)
  +panel('default',title)
    block
