include /mixin

+sidebar.desktop-sidebar
  +nav-vertical
    +nav-item('#sample_manage_user', true)
      +i-nav-text('user', 'Module 1')
    +nav-item('#', true)
      +i-nav-text('plug', 'Module 2')
    +nav-item('#')
      +i-nav-text('pencil', 'Module 3')