---
model: user
---
extend /layouts/modal-layout
include /mixin

block title
  | 新增用户

block body
  form(data-validate-form='')
    +form-layout-h
      +editor-for-model(model, 'add')
            
block footer
  +btn-save