include ../../../../jade-tpl/src/mixin.jade

+box-topbar
  block heading
+box-body
  +box-wrapper
    +box-aside
      block aside
    +box-content
      block content
+box-bottombar
  +container
    .navbar-form.navbar-right
      .btn-toolbar
        block action