#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#banner {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    padding: 2em;
    background-color: #EDA959;
    color: #fff;
    font-family: sans-serif;
}

#viewDiv {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#searchDiv {
    position: absolute;
    z-index: 20;
    top: 20px;
    left: 74px;
}
